@import 'variables';
.auth-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	input,
	select {
		padding-left: 5px;
		border: none;
		height: 25px;
		width: 200px;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		border-radius: 5px;
		&:hover {
			background-color: $mainGrayColor;
		}
		&:focus {
			background-color: #fff;
			outline: none;
		}
		&:disabled {
			background-color: #fff;
			opacity: 1;
			&:hover {
				background-color: $mainGrayColor;
			}
		}
	}
	label {
		margin-right: 20px;
	}
	.button {
		border-radius: 5px;
		margin: 0;
	}
}
